In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
df = pd.read_csv('Inventory_SupplyChain_Dataset.csv')
df.head()

         Date Region     Category  ... Cost of Goods Sold (COGS) Average Inventory Warehouse Capacity
0  14-01-2020  North  Accessories  ...               37820.05240            2048.0               5037
1  15-11-2020   East    Furniture  ...               54396.17369            1213.0               9216
2  16-04-2020   East    Furniture  ...               24217.45462            1160.5               7699
3  17-04-2020  South  Accessories  ...               38919.08005            3364.5               9271
4  18-04-2020  North  Accessories  ...               59204.50683            3063.0               5828

[5 rows x 15 columns]

In [11]:
# Financial KPI: Inventory Turnover Ratio
df['Inventory_Turnover'] = df['Cost of Goods Sold (COGS)'] / df['Average Inventory']

print(df['Inventory_Turnover'].describe())

count    1200.000000
mean       31.097926
std        38.945610
min         0.496271
25%         9.135311
50%        19.609903
75%        38.670293
max       417.126152
Name: Inventory_Turnover, dtype: float64

In [14]:
# Operational KPI: Warehouse Utilization Rate
df['Warehouse_Utilization'] = df['Inventory Level'] / df['Warehouse Capacity']
df['Warehouse_Utilization'].describe()

count    1200.000000
mean        0.354838
std         0.213668
min         0.013262
25%         0.176174
50%         0.350070
75%         0.510526
max         0.947706
Name: Warehouse_Utilization, dtype: float64

In [16]:
# Efficiency KPI: Logistics Cost per Unit
df['Cost_Per_Unit_Sold'] = df['Transportation Cost'] / df['Units Sold']
df['Cost_Per_Unit_Sold'].describe()

count    1200.000000
mean       23.240039
std        28.961733
min         0.583440
25%         7.636632
50%        14.443470
75%        26.335203
max       275.589440
Name: Cost_Per_Unit_Sold, dtype: float64

In [21]:
# Logical Feature: Stock Status Flag
df['Stock_Status'] = np.where(df['Warehouse_Utilization'] > 0.8, 'High Risk', 
                     np.where(df['Warehouse_Utilization'] < 0.2, 'Critical Low', 
                     'Optimal'))

df['Stock_Status'].describe()

count        1200
unique          3
top       Optimal
freq          834
Name: Stock_Status, dtype: object